body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin:0;
}
.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:#313131a0;
    border-radius: 10px;
    padding: 25px;
}
.container{
   text-align: center;
   color: rgba(255, 255, 255, 0.735);
 }
 .container img{
    border-radius: 100px;
    width: 100px;
 }
 .container h1{
    color: rgba(255, 255, 255, 0.893);
 }
.container h4{
    color: rgb(217, 255, 0);
}
.list-buttons{
    padding-top: 30px;
}
.list-buttons ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    list-style: none; 
    padding: 0;
    margin: 0;
}
.list-buttons li{
    border-radius: 4px;
    background-color:#2e2e2ed3;
    color: white;
    width:250px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-buttons li:hover{
    background-color:chartreuse;
    cursor: pointer;
    color: black;
}
.attribution{
    color: white;
    font-size: 11px;
    margin-top: 10px;
    width: 300px;
    text-align: center;
}
.attribution a{
    color: rgb(217, 255, 0);
}
